<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- اجازه دسترسی به اینترنت -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- در صورت نیاز به بررسی وضعیت اتصال -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="${applicationName}"
        android:label="VPN فردوسی"
        android:icon="@mipmap/ic_launcher"
        
        android:allowBackup="true"
        android:usesCleartextTraffic="false"
        >

        <!-- Activity اصلی Flutter -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- تم نرمال بعد از اجرای UI فلاتر -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>

            <!-- فیلتر برای لانچر -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- لازم برای Plugin registration -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>

    </application>

    <!-- لازم برای PROCESS_TEXT در Android 11+ -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>

</manifest>
